body {
  background-color: #0f1012;
  height: 100vh;
}

html {
  background-color: #0f1012;
}

.logo {
  max-height: 50rem;
}
.noHover {
  pointer-events: none;
}
.pfp {
  height: 30px;
  width: 30px;
}
