{%extends "base2.html"%} {% block content %}

<main class="container content box is-dark mt-5" style="width: 50vh">
  <h1 class="pb-4 has-text-white">Create Post</h1>

  <form method="POST" class="has-text-grey-lighter">
    {%csrf_token%}
    <h3 class="pb-2 has-text-white">Choose File:</h3>
    {{form.image}}
    <br />
    <h3 class="pb-2 has-text-white" placeholder="Title">Post Title:</h3>
    {{form.title}}
    <br />
    <h3 class="pb-2 has-text-white" placeholder="Author">Post Author:</h3>
    {{form.author}}
    <br />
    <h3 class="pb-2 has-text-white">Post Description:</h3>
    {{form.description}}
    <br />
    <h3 class="pb-2 has-text-white">Post Content:</h3>
    {{form.content}}
    <br />
    <h3 class="pb-2 has-text-white">Field:</h3>
    {{form.field_tag}}
    <br />
    <h3 class="pb-2 has-text-white">Skill Level:</h3>
    {{form.level_tag}}
    <br />
    <h3 class="pb-2 has-text-white">Primary Language:</h3>
    {{form.lang_tag}}
    <br />

    <button class="button is-success is-outlined is-rounded mt-4" type="submit">
      Post
    </button>

    {%endblock%}
  </form>
</main>
