{%extends "base2.html"%}

{% block content %}

<h1>Create Post</h1>
<br>
<br>

<form method="POST">
    {%csrf_token%}
    <p>Choose File: {{form.image}}</p>
    <br>
    <p>post title: {{form.title}}</p>
    <br>
    <p>post author: {{form.author}}</p>
    <br>
    <P>post description: {{form.description}}</P>
    <br>
    <p>post content: {{form.content}}</p>
    <br>
    <p>what field is it for? {{form.field_tag}}</p>
    <br>
    <p>what level of learning? {{form.level_tag}}</p>
    <br>
    <p>primary language? {{form.lang_tag}}</p>
    <br>

    <button>Post</button>


{%endblock%}