{% extends 'base2.html' %}

{% block content %}

<div class="columns">
  <div class="column is-half is-offset-one-quarter" style="background-color: #0f1012">

    <div class="card is-dark mt-4 ml-6" style="width: 80vh; display: flex">
      <div class="card-content" style="width: 100%; display: flex">
        <div class="media">
          <div class="media-content has-text-white">
            <p class="title is-size-3 has-text-white has-text-weight-semibold pb-0">Sign Up</p>
            <form method="post" class="has-text-white" style="display: flex; flex-direction: column; align-items: flex-start;" >
              {% csrf_token %}
              {% for field in form %}
                <p class="mb-5 field has-text-grey-lighter">
                  <h4 class="mb-2 is-size-5">{{ field.label_tag }}</h4>
                  {{ field }}
                  <div style="width: 100%">
                    {% for error in field.errors %}
                  </div>
                    <p class="mt-4 has-text-weight-medium is-size-5" style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
              {% endfor %}
              <button style="display: flex;" class="button is-success is-rounded is-outlined mt-6" type="submit">Confirm</button>
            </form>
          </div>
        </div>
      
        

        </div>
      </div>
  </div>
</div>
{% endblock %}